@page
@model Proyecto_CRUD.Pages.IndexModel
@{
    ViewData["Title"] = "Mi CRUD";
}

<h2>Lista de contactos</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contacto in Model.Contactos)
        {
            <tr>
                <td>@contacto.IdContacto</td>
                <td>@contacto.Nombre</td>
                <td>@contacto.Telefono</td>
                <td>@contacto.Email</td>
            </tr>
        }
    </tbody>
</table>